<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <!-- Remove UISceneDelegateClassName and UISceneStoryboardFile -->
                    <!-- Add AppDelegate class name -->
                    <key>UIApplicationDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).AppDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>BASE_URL</key>
    <string>$(BASE_URL)</string>
    <key>WEATHER_API_KEY</key>
    <string>$(WEATHER_API_KEY)</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to provide weather information.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to provide weather information even when the app is in the background.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location to provide weather information even when the app is in the background.</string>
    <key>NSAppTransportSecurity</key>
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
</dict>
</plist>
